@model IEnumerable<Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<br/>
<br/>

<div class="border backgroundWhite">
    <div class="row">
        <div class="col-6">
            Category Available
        </div>
        <div class="col-6 text-right">
            <partial name="_CreateButtonPartial"/> 
         
        </div>
    </div>
    <br/>
    <br />

    <div class="container">
        @if (Model.Any())
        {
            <table class="table table-striped border">
                <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(s => s.Name)
                    </th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>

                <tbody>
                @foreach (var cat in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(s => cat.Name)
                        </td>
                        <td>
                            <partial name="_TableButtonPartial" model="@cat.Id" />
                        </td>
                    </tr>
                }
                </tbody>
            </table>

        }
        else
        {
            <p>No Category Available!</p>
        }
    </div>
</div>

@{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
